<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.penza.aabr.deviceinfo">

    <permission android:name="ru.penza.aabr.deviceinfo.photogallery.PRIVATE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="ru.penza.aabr.deviceinfo.photogallery.PRIVATE"/>

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".photogallery.PhotoGalleryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".criminalIntent.CrimePagerActivity"
            android:parentActivityName=".criminalIntent.CrimeListActivity" />
        <activity android:name=".criminalIntent.CrimeActivity" />
        <activity android:name=".CheatActivity" />
        <activity android:name=".QuizActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".criminalIntent.CrimeListActivity">

        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="ru.penza.aabr.deviceinfo.criminalintent.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files" />
        </provider>
        <service android:name=".photogallery.PollService" />
        <receiver android:name=".photogallery.StartupReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".photogallery.NotificationReceiver" android:exported="false">
            <intent-filter android:priority="-999">
                <action android:name="ru.penza.aabr.deviceinfo.photogallery.SHOW_NOTIFICATION"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>